{% extends "base.html" %}
{% block extra_css %}
  <link rel="stylesheet" href="{{ url_for('static', path='style/areas/medioambiente.css') }}">
{% endblock %}
{% block content %}
<div class="medioambiente-container">
  <div class="Automation-filter">
    <div class="title">
      <h2>Filtros de Automatizaciones</h2>
    </div>
    <div class="list filter-list">
      <div class="item">
        <div class="item-title">
          Busqueda
        </div>
        <div class="item-data">
          <p><strong style="color: gainsboro;" >En desarrollo...</strong></p>
        </div>
      </div>
    </div>
  </div>
  <div class="Automation-list">
    
    <div class="title">
      <h2>Lista de Automatizaciones</h2>
    </div>
    <div class="list Automation-item-list">
      <div class="item">
        <div class="item-title">
          <strong>
            Automatización de Riles
          </strong>
        </div>
        <div class="item-data">
          <div class="item-desc">Panel de control para la gestión de Riles. Envía correos, Abre Reportes por local, Lectura de pdf Automatizada, editar y leer parámetros</div>
          <div class="item-button">
            <a href="http://127.0.0.1:8000/medioambiente/riles/">Acceder</a>
          </div>
        </div>
      </div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
    </div>

  </div>
</div>
{% endblock %}